@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBoldItalic.eot");
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("../fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBoldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-LightItalic.eot");
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("../fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic.woff") format("woff"), url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBoldItalic.eot");
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
/*
================================================================================
|                                     MAIN STYLES                              |
================================================================================
*/
/* line 122, ../sass/style.scss */
html {
  font-size: 16px;
}

/* line 126, ../sass/style.scss */
body {
  font-family: 'Open Sans';
  /*main font*/
  font-weight: normal;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color: #000;
}

@media (min-width: 1200px) {
  /* line 136, ../sass/style.scss */
  .container {
    max-width: 1300px;
  }
}
@media screen and (max-width: 768px) {
  /* line 142, ../sass/style.scss */
  html {
    font-size: 14px;
  }
}
/*
================================================================================
|                                    ELEMENTS                                  |
================================================================================
*/
/*=== responsive SECTION__TITLE ===*/
/*
================================================================================
|                                    Sec-1                                     |
================================================================================
*/
/* line 1, ../sass/_sec-1.scss */
.sec-1 {
  background-image: url(../img/sec-1__bg.png);
  background-size: cover;
}
/* line 5, ../sass/_sec-1.scss */
.sec-1 .container {
  padding-left: 90px;
  padding-right: 90px;
}
/* line 14, ../sass/_sec-1.scss */
.sec-1 .form-wrapper {
  width: 100%;
  background-color: #ccc;
  padding-top: 6px;
  border-radius: 10px;
}
/* line 20, ../sass/_sec-1.scss */
.sec-1 .form-wrapper form {
  background: #fff;
  border-radius: inherit;
  padding: 29px 35px;
}
/* line 25, ../sass/_sec-1.scss */
.sec-1 .form-wrapper form h5 {
  font-weight: 800;
  margin: 0px;
  display: inline-block;
}
/* line 32, ../sass/_sec-1.scss */
.sec-1 .form-wrapper .form-row {
  margin-top: 5px;
}
/* line 36, ../sass/_sec-1.scss */
.sec-1 .form-wrapper .form-control {
  border-radius: 0;
  border: none;
  border-bottom: solid 1px #ced4da;
  padding: 4px 15px;
  font-size: 18px;
  margin-top: 20px;
}
/* line 44, ../sass/_sec-1.scss */
.sec-1 .form-wrapper .form-control input {
  font-size: 18px;
}
/* line 49, ../sass/_sec-1.scss */
.sec-1 .form-wrapper button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 26px;
  margin: 0;
  margin-top: 32px;
}
/* line 59, ../sass/_sec-1.scss */
.sec-1 .form-wrapper .form-check {
  margin-top: 30px;
  line-height: 1.1;
}
/* line 63, ../sass/_sec-1.scss */
.sec-1 .form-wrapper .form-check span {
  font-size: 12px;
  letter-spacing: 0.7px;
  color: #ccc;
}
/* line 69, ../sass/_sec-1.scss */
.sec-1 .form-wrapper .form-check-label a {
  color: #cccccc;
  text-decoration: underline;
}
/* line 75, ../sass/_sec-1.scss */
.sec-1 .content-row {
  padding-bottom: 80px;
  padding-top: 80px;
}
/* line 84, ../sass/_sec-1.scss */
.sec-1 .carusel .item {
  height: auto;
  color: #fff;
  text-align: right;
}
/* line 89, ../sass/_sec-1.scss */
.sec-1 .carusel .item h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 25px;
}
/* line 96, ../sass/_sec-1.scss */
.sec-1 .carusel .item .clear {
  clear: both;
}
/* line 100, ../sass/_sec-1.scss */
.sec-1 .carusel .item h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}
/* line 106, ../sass/_sec-1.scss */
.sec-1 .carusel .item .sec-1_video__wrapper {
  width: 290px;
  height: 155px;
  background-color: green;
  background-image: url(../img/sec-1_play__button.png), url(../img/sec-1_video.png);
  background-position: center center, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;
  float: right;
}
/* line 118, ../sass/_sec-1.scss */
.sec-1 .carusel .item span b {
  font-size: 18px;
}
/* line 124, ../sass/_sec-1.scss */
.sec-1 .slick-prev {
  position: absolute;
  top: -30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: initial;
  right: 45px;
  background-image: url(../img/slider_arrow__left.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}
/* line 138, ../sass/_sec-1.scss */
.sec-1 .slick-prev::before {
  content: "";
  font-family: sans-serif;
}
/* line 145, ../sass/_sec-1.scss */
.sec-1 .slick-next {
  position: absolute;
  top: -30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 0;
  background-image: url(../img/slider_arrow__right.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}
/* line 157, ../sass/_sec-1.scss */
.sec-1 .slick-next::before {
  content: "";
  font-family: sans-serif;
}
/* line 164, ../sass/_sec-1.scss */
.sec-1 .slick-dots {
  width: auto;
  top: -46px;
  right: 100px;
  display: inline-block;
}
/* line 170, ../sass/_sec-1.scss */
.sec-1 .slick-dots li button:before {
  content: "";
  background-image: url(../img/sec-1_dot.png);
  background-repeat: no-repeat;
  background-size: auto;
}

/*
================================================================================
|                                   NAVIGATION                                 |
================================================================================
*/
/* line 189, ../sass/_sec-1.scss */
.sec-1 .navbar {
  padding: 20px 0;
}
/* line 192, ../sass/_sec-1.scss */
.sec-1 .navbar .navbar-brand img {
  width: 225px;
  height: auto;
}
/* line 197, ../sass/_sec-1.scss */
.sec-1 .navbar .nav-link {
  color: white;
  font-size: 18px;
  padding-right: 0;
  padding-left: 34px;
}

/*
===============================
|        Responsive           |
===============================
*/
@media screen and (max-width: 1270px) {
  /* line 214, ../sass/_sec-1.scss */
  .sec-1 .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}
/*
================================================================================
|                                    sec-2                                     |
================================================================================
*/
/* line 1, ../sass/_sec-2.scss */
.sec_title {
  padding: 50px 0;
}
/* line 4, ../sass/_sec-2.scss */
.sec_title h2 {
  margin-left: 100px;
  font-size: 36px;
  font-weight: bold;
}
/* line 11, ../sass/_sec-2.scss */
.sec_title h2::after {
  display: block;
  position: relative;
  left: -520px;
  content: "";
  width: 800px;
  height: 9px;
  background-color: #1eacc0;
}

/* line 25, ../sass/_sec-2.scss */
.sec-2 {
  background-color: #f1f1f1;
}
/* line 27, ../sass/_sec-2.scss */
.sec-2 .container {
  padding-bottom: 50px;
  overflow-x: hidden;
}
/* line 35, ../sass/_sec-2.scss */
.sec-2 .slick-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: initial;
  right: 75px;
  background: #cccccc;
  background-image: url(../img/slider_arrow__left.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 48, ../sass/_sec-2.scss */
.sec-2 .slick-prev::before {
  content: "";
  font-family: sans-serif;
}
/* line 53, ../sass/_sec-2.scss */
.sec-2 .slick-prev:hover {
  background-color: #ae8aef !important;
}
/* line 59, ../sass/_sec-2.scss */
.sec-2 .slick-next {
  margin-left: 23px !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 20px;
  background: #cccccc;
  background-image: url(../img/slider_arrow__right.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 71, ../sass/_sec-2.scss */
.sec-2 .slick-next::before {
  content: "";
  font-family: sans-serif;
}
/* line 75, ../sass/_sec-2.scss */
.sec-2 .slick-next:hover {
  background-color: #ae8aef !important;
}
/* line 82, ../sass/_sec-2.scss */
.sec-2 .slick-prev,
.sec-2 .slick-next {
  top: -18%;
}

/* line 91, ../sass/_sec-2.scss */
.marathon_wrapper {
  padding: 25px;
  background-color: #b8cee9;
}

/* line 96, ../sass/_sec-2.scss */
.actual_marathons_block:hover .cover-bg {
  display: block;
}

/* line 100, ../sass/_sec-2.scss */
.actual_marathons_block:hover .marathons_bottom {
  background-color: #ffffff;
}

/* line 105, ../sass/_sec-2.scss */
.actual_marathons_block {
  width: 225px;
  margin: 0 auto;
  color: #ffffff;
}
/* line 110, ../sass/_sec-2.scss */
.actual_marathons_block .marathons_top {
  position: relative;
  background-image: url(../img/marathon_bg1.png);
  background-size: cover;
  height: 235px;
  text-align: center;
}
/* line 118, ../sass/_sec-2.scss */
.actual_marathons_block .cover-bg {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 90px 30px 0 30px;
}
/* line 127, ../sass/_sec-2.scss */
.actual_marathons_block .cover-bg span {
  display: inline-block;
}
/* line 134, ../sass/_sec-2.scss */
.actual_marathons_block .marathons_top:hover .cover-bg {
  display: block;
}
/* line 138, ../sass/_sec-2.scss */
.actual_marathons_block .marathons_bottom:hover ~ .cover-bg {
  display: block;
}
/* line 143, ../sass/_sec-2.scss */
.actual_marathons_block .marathons_bottom {
  z-index: 5;
  position: relative;
  text-align: center;
  padding: 10px 0 20px 0;
  background-color: #cccccc;
}
/* line 150, ../sass/_sec-2.scss */
.actual_marathons_block .marathons_bottom .year_date {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 53px;
  z-index: -2;
  color: white;
  line-height: 1;
  color: #eeeeee;
  font-weight: bold;
}
/* line 162, ../sass/_sec-2.scss */
.actual_marathons_block .marathons_bottom .month_date {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #000000;
  display: block;
  z-index: 150;
}
/* line 171, ../sass/_sec-2.scss */
.actual_marathons_block .marathons_bottom a {
  display: inline-block;
  padding: 10px 5px;
  border-radius: 10px;
  color: #ffffff;
}

 /*
===============================
|        Responsive           |
===============================
*/
@media screen and (max-width: 400px) {
  /* line 190, ../sass/_sec-2.scss */
  .sec-2 .marathon_wrapper {
    padding: 0;
  }
  /* line 193, ../sass/_sec-2.scss */
  .sec-2 .actual_marathons_block {
    width: 100% !important;
  }
}
/*
================================================================================
|                                    sec-3                                     |
================================================================================
*/
/* line 1, ../sass/_sec-3.scss */
.container {
  overflow-x: hidden;
}

/* line 4, ../sass/_sec-3.scss */
.sec-3 {
  background-image: url(../img/sec-3__bg.png);
  background-size: cover;
  background-position: -390px center;
  background-repeat: no-repeat;
}
/* line 10, ../sass/_sec-3.scss */
.sec-3 .container {
  position: relative;
}
/* line 18, ../sass/_sec-3.scss */
.sec-3 .text_bg {
  top: 80px;
  position: absolute;
  z-index: 0;
  font-size: 183px;
  line-height: 1;
  color: #cccccc;
  font-weight: 700;
  opacity: .2;
  overflow: hidden;
}
/* line 31, ../sass/_sec-3.scss */
.sec-3 .sec-3__info {
  margin-bottom: 20px;
  display: inline-block;
  color: #ffffff;
}
/* line 37, ../sass/_sec-3.scss */
.sec-3 img {
  position: relative;
  bottom: 90px;
}
/* line 42, ../sass/_sec-3.scss */
.sec-3 h2.title {
  color: #ffffff;
}
/* line 46, ../sass/_sec-3.scss */
.sec-3 h2.title::after {
  background-color: #ffffff;
}

/*
================================================================================
|                                    sec-4                                     |
================================================================================
*/
/* line 3, ../sass/_sec-4.scss */
.sec-4 .col-4 {
  padding: 0;
}
/* line 7, ../sass/_sec-4.scss */
.sec-4 .sec-4__left {
  padding-top: 35px;
  padding-left: 125px;
  padding-right: 67px;
  background-image: url(../img/sec-4_bg.png);
  background-position: center center;
  background-size: cover;
  color: #ffffff;
}
/* line 16, ../sass/_sec-4.scss */
.sec-4 .sec-4__left h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 70px;
}
/* line 22, ../sass/_sec-4.scss */
.sec-4 .sec-4__left h2 {
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 1;
}
/* line 28, ../sass/_sec-4.scss */
.sec-4 .sec-4__left .video-wrapper {
  position: relative;
  display: inline-block;
  width: 195px;
  height: 105px;
  background-image: url(../img/sec-4_video-bg.png);
  background-size: cover;
}
/* line 36, ../sass/_sec-4.scss */
.sec-4 .sec-4__left .video-wrapper .play_button {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  border: 5px solid #96919a;
}
/* line 48, ../sass/_sec-4.scss */
.sec-4 .sec-4__left .video-wrapper .play_button:hover {
  cursor: pointer;
}
/* line 53, ../sass/_sec-4.scss */
.sec-4 .sec-4__left .video-wrapper .play_button::before {
  content: "";
  display: block;
  border: 4px solid transparent;
  border-left: 8px solid #2a2a43;
  position: absolute;
  top: 50%;
  left: calc(50% + 4px);
  transform: translate(-50%, -50%);
}
/* line 66, ../sass/_sec-4.scss */
.sec-4 .sec-4__left .sec-4__left___button {
  position: absolute;
  right: 0;
  bottom: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #2488cd;
  color: #ffffff;
  border-radius: 5px;
}
/* line 78, ../sass/_sec-4.scss */
.sec-4 .sec-4__left span {
  position: absolute;
  font-size: 11px;
  bottom: -10px;
  left: 0;
}
/* line 85, ../sass/_sec-4.scss */
.sec-4 .sec-4__left .sec-4_flex__wrapper {
  position: relative;
}
/* line 90, ../sass/_sec-4.scss */
.sec-4 .sec-4__right {
  padding: 0 15px 20px 38px;
  background-image: url(../img/sec-4__right-bg.png);
  background-position: 100% 70px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 97, ../sass/_sec-4.scss */
.sec-4 .sec-4__right h1 {
  display: block;
  font-size: 32px;
  font-weight: bolder;
}
/* line 103, ../sass/_sec-4.scss */
.sec-4 .sec-4__right .actual_marathons_block {
  margin: 0;
  width: 100%;
  height: 155px;
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
}
/* line 112, ../sass/_sec-4.scss */
.sec-4 .sec-4__right .actual_marathons_block .marathons_top {
  height: auto;
  padding: 50px 20px;
  width: 44%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 120, ../sass/_sec-4.scss */
.sec-4 .sec-4__right .actual_marathons_block .marathons_top .cover-bg {
  padding-top: 50px;
}
/* line 124, ../sass/_sec-4.scss */
.sec-4 .sec-4__right .actual_marathons_block .marathons_top span {
  line-height: 1;
  font-size: 15px;
  display: inline-block;
}
/* line 130, ../sass/_sec-4.scss */
.sec-4 .sec-4__right .actual_marathons_block .marathons_top span:last-child {
  margin-bottom: 5px;
  font-weight: normal;
}
/* line 137, ../sass/_sec-4.scss */
.sec-4 .sec-4__right .actual_marathons_block .marathons_bottom {
  background-color: #ffffff;
  width: 56%;
}
/* line 141, ../sass/_sec-4.scss */
.sec-4 .sec-4__right .actual_marathons_block .marathons_bottom .year_date {
  font-size: 49px;
  color: #eeeeee;
}
/* line 146, ../sass/_sec-4.scss */
.sec-4 .sec-4__right .actual_marathons_block .marathons_bottom .month_date {
  font-size: 13px;
  color: #212225;
}
/* line 151, ../sass/_sec-4.scss */
.sec-4 .sec-4__right .actual_marathons_block .marathons_bottom a {
  font-size: 13px;
}
/* line 158, ../sass/_sec-4.scss */
.sec-4 .sec-4__right .sec-4__right__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*
===============================
|        Responsive           |
===============================
*/
@media screen and (max-width: 1270px) {
  /* line 175, ../sass/_sec-4.scss */
  .sec-4 .marathons_bottom a {
    font-size: 12px !important;
  }
  /* line 178, ../sass/_sec-4.scss */
  .sec-4 .hidden_info {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 1270px) and (min-width: 990px) {
  /* line 188, ../sass/_sec-4.scss */
  .sec-4 .sec-4__left {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  /* line 198, ../sass/_sec-4.scss */
  .sec-4 .sec-4__left {
    text-align: center;
    padding: 50px 30px;
  }
  /* line 201, ../sass/_sec-4.scss */
  .sec-4 .sec-4__left h2 {
    font-size: 20px;
  }
  /* line 205, ../sass/_sec-4.scss */
  .sec-4 .sec-4__left h1 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  /* line 210, ../sass/_sec-4.scss */
  .sec-4 .sec-4__left .sec-4_flex__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* line 215, ../sass/_sec-4.scss */
  .sec-4 .sec-4__left .sec-4_flex__wrapper .video-wrapper {
    width: calc(195px*1.5);
    height: calc(105px*1.5);
  }
  /* line 221, ../sass/_sec-4.scss */
  .sec-4 .sec-4__left .sec-4_flex__wrapper span {
    position: static;
    display: inline-block;
    margin-bottom: 20px;
  }
  /* line 227, ../sass/_sec-4.scss */
  .sec-4 .sec-4__left .sec-4_flex__wrapper a {
    position: static;
    display: inline-block;
  }
}
@media screen and (max-width: 768px) {
  /* line 246, ../sass/_sec-4.scss */
  .sec-4 .sec-4__left .sec-4_flex__wrapper .video-wrapper {
    width: calc(195px*2);
    height: calc(105px*2);
  }
  /* line 253, ../sass/_sec-4.scss */
  .sec-4 .sec-4__right {
    background-position: 100% 40px;
  }
  /* line 255, ../sass/_sec-4.scss */
  .sec-4 .sec-4__right .sec-4__right__wrapper {
    margin-top: 60px;
  }
}
@media screen and (max-width: 400px) {
  /* line 274, ../sass/_sec-4.scss */
  .sec-4 .sec-4__left .sec-4_flex__wrapper .video-wrapper {
    width: calc(195px*1.6);
    height: calc(105px*1.6);
  }
}
/*
================================================================================
|                                    sec-5                                     |
================================================================================
*/
/* line 3, ../sass/_sec-5.scss */
.sec-5 .container {
  background-color: #e9e9e9;
}
/* line 8, ../sass/_sec-5.scss */
.sec-5 .sec-5_slider {
  width: 90%;
  display: flex;
  margin: 0 auto 30px auto;
}
/* line 12, ../sass/_sec-5.scss */
.sec-5 .sec-5_slider .slick-track {
  padding: 150px 0;
}
/* line 18, ../sass/_sec-5.scss */
.sec-5 .sec-5_block {
  margin-right: 10px;
  color: #9d9898;
  transition: .5s;
}
/* line 23, ../sass/_sec-5.scss */
.sec-5 .sec-5_block .sec-5_block__top {
  width: 100%;
  height: 220px;
  background-image: url(../img/sec-5_bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 31, ../sass/_sec-5.scss */
.sec-5 .sec-5_block .sec-5_block__top::after {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  content: "";
  background-image: url(../img/sec-5_play__button.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 1s;
}
/* line 48, ../sass/_sec-5.scss */
.sec-5 .sec-5_block .sec-5_block__bottom {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: auto;
  font-size: 9px;
  padding: 20px 12%;
  opacity: 0;
  transform: translateY(-100%);
  z-index: -1;
  transition: .5s;
}
/* line 61, ../sass/_sec-5.scss */
.sec-5 .sec-5_block .sec-5_block__bottom .bottom_left {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 10%;
  background-color: #6fbad8;
  background-image: url(../img/sec-5_quote.png);
  background-size: 70%;
  background-position: center 15%;
  background-repeat: no-repeat;
}
/* line 80, ../sass/_sec-5.scss */
.sec-5 .sec-5_block.slick-current + .sec-5_block {
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
/* line 88, ../sass/_sec-5.scss */
.sec-5 .sec-5_block.slick-current + .sec-5_block > .sec-5_block__bottom {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}
/* line 95, ../sass/_sec-5.scss */
.sec-5 .sec-5_block.slick-current + .sec-5_block > .sec-5_block__top::after {
  opacity: 1;
}
/* line 99, ../sass/_sec-5.scss */
.sec-5 .slick-prev {
  position: absolute;
  top: 40%;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(30, 170, 193, 0.9);
  background-image: url(../img/slider_arrow__left.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 100;
}
/* line 112, ../sass/_sec-5.scss */
.sec-5 .slick-prev::before {
  content: "";
}
/* line 118, ../sass/_sec-5.scss */
.sec-5 .slick-next {
  position: absolute;
  top: 40%;
  right: 20px;
  background-color: rgba(127, 71, 237, 0.9);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../img/slider_arrow__right.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 100;
}
/* line 132, ../sass/_sec-5.scss */
.sec-5 .slick-next::before {
  content: "";
}

/*
================================================================================
|                                    sec-6                                     |
================================================================================
*/
/* line 3, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper {
  display: flex;
}
/* line 7, ../sass/_sec-6.scss */
.sec-6 .row {
  padding-left: 82px;
  padding-right: 82px;
}
/* line 12, ../sass/_sec-6.scss */
.sec-6 .container {
  overflow: hidden;
  position: relative;
  background-image: url(../img/sec-6__bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat-x;
  padding-bottom: 90px;
}
/* line 25, ../sass/_sec-6.scss */
.sec-6 .sec_title h2 {
  color: #ffffff;
}
/* line 28, ../sass/_sec-6.scss */
.sec-6 .sec_title h2::after {
  background-color: #ffffff;
}
/* line 35, ../sass/_sec-6.scss */
.sec-6 .bg_text {
  position: absolute;
  left: -25px;
  top: 0;
  font-size: 337px;
  font-weight: 800;
  line-height: 1.2;
  color: #cccccc;
  z-index: 0;
  opacity: .1;
}
/* line 48, ../sass/_sec-6.scss */
.sec-6 .sec-6__block1,
.sec-6 .sec-6__block2,
.sec-6 .sec-6__block3,
.sec-6 .sec-6__block4 {
  width: 100%;
  position: relative;
  left: 80px;
  display: flex;
  justify-content: flex-start;
}
/* line 61, ../sass/_sec-6.scss */
.sec-6 .sec-6__block1 > div {
  margin-left: 125px;
}
/* line 68, ../sass/_sec-6.scss */
.sec-6 .sec-6__block2 .block-flex__wrapper21 {
  margin-right: 125px;
}
/* line 75, ../sass/_sec-6.scss */
.sec-6 .sec-6__block3 .block-flex__wrapper31,
.sec-6 .sec-6__block3 .block-flex__wrapper33 {
  margin-left: 125px;
}
/* line 83, ../sass/_sec-6.scss */
.sec-6 .sec-6__block4 .block-flex__wrapper41 {
  margin-right: 250px;
}
/* line 90, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .block__descr {
  padding: 10px;
}
/* line 94, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .sec-6_block__descr1 {
  background-image: -webkit-linear-gradient(150deg, transparent 37%, rgba(255, 255, 255, 0.2) 37%);
  background-image: -o-linear-gradient(150deg, transparent 37%, rgba(255, 255, 255, 0.2) 37%);
  background-image: linear-gradient(240deg, transparent 37%, rgba(255, 255, 255, 0.2) 37%), url(../img/sec-6__arrow1.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center center, 95% 5%;
  padding-top: 65px;
}
/* line 107, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .sec-6_block__descr2 {
  background: -webkit-linear-gradient(30deg, transparent 37%, rgba(255, 255, 255, 0.2) 37%);
  background: -o-linear-gradient(30deg, transparent 37%, rgba(255, 255, 255, 0.2) 37%);
  background: linear-gradient(120deg, transparent 37%, rgba(255, 255, 255, 0.2) 37%), url(../img/sec-6__arrow2.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center center, 5% 5%;
  padding-top: 65px;
  text-align: right;
}
/* line 118, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .sec-6_block__descr2 span {
  line-height: 1;
}
/* line 124, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .plahotnik {
  background-image: url(../img/plahotnik.png);
}
/* line 128, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .koval {
  background-image: url(../img/koval.png);
}
/* line 132, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .abramchuk {
  background-image: url(../img/abramchuk.png);
}
/* line 136, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .bigulov {
  background-image: url(../img/bigulov.png);
}
/* line 140, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .nelipa {
  background-image: url(../img/nelipa.png);
}
/* line 144, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .saprikina {
  background-image: url(../img/saprikina.png);
}
/* line 148, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .romanishina {
  background-image: url(../img/romanishina.png);
}
/* line 152, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .nelipa2 {
  background-image: url(../img/nelipa2.png);
}
/* line 156, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .goncharenko {
  background-image: url(../img/goncharenko.png);
}
/* line 160, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .stepanova {
  background-image: url(../img/stepanova.png);
}
/* line 164, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper .filippov {
  background-image: url(../img/filippov.png);
}
/* line 169, ../sass/_sec-6.scss */
.sec-6 .block-flex__wrapper div {
  width: 125px;
  height: 125px;
}

/*
================================================================================
|                                    sec-7                                     |
================================================================================
*/
/* line 1, ../sass/_sec-7.scss */
a:hover {
  text-decoration: none;
}

/* line 7, ../sass/_sec-7.scss */
.sec-7 .container {
  overflow: hidden;
}
/* line 11, ../sass/_sec-7.scss */
.sec-7 .sec_title {
  padding: 50px 0 40px 0;
}
/* line 15, ../sass/_sec-7.scss */
.sec-7 .sec-7_img {
  position: relative;
}
/* line 18, ../sass/_sec-7.scss */
.sec-7 .sec-7_img:hover .hidden_info {
  opacity: 1;
  background-color: rgba(241, 241, 241, 0.95);
}
/* line 27, ../sass/_sec-7.scss */
.sec-7 .sec-7_img1 {
  background-image: url(../img/sec-7_logo1.png), url(../img/sec-7__img1.png);
  background-position: center center, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;
  height: 190px;
  margin-bottom: 30px;
}
/* line 36, ../sass/_sec-7.scss */
.sec-7 .sec-7_img2 {
  background-image: url(../img/sec-7_logo2.png), url(../img/sec-7__img2.png);
  background-position: center center, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;
  height: 190px;
  margin-bottom: 30px;
}
/* line 45, ../sass/_sec-7.scss */
.sec-7 .sec-7_img3 {
  background-image: url(../img/sec-7_logo3.png), url(../img/sec-7__img3.png);
  background-position: center center, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;
  height: 190px;
  margin-bottom: 30px;
}
/* line 54, ../sass/_sec-7.scss */
.sec-7 .sec-7_img4 {
  background-image: url(../img/sec-7_logo4.png), url(../img/sec-7__img1.png);
  background-position: center center, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;
  height: 190px;
}
/* line 62, ../sass/_sec-7.scss */
.sec-7 .sec-7_img5 {
  background-image: url(../img/sec-7_logo5.png), url(../img/sec-7__img2.png);
  background-position: center center, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;
  height: 190px;
}
/* line 70, ../sass/_sec-7.scss */
.sec-7 .sec-7_img6 {
  background-image: url(../img/sec-7_logo6.png), url(../img/sec-7__img3.png);
  background-position: center center, center center;
  background-size: auto, cover;
  background-repeat: no-repeat;
  height: 190px;
}
/* line 78, ../sass/_sec-7.scss */
.sec-7 .hidden_info {
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  position: absolute;
  padding: 15px 67px;
  background-color: #f1f1f1;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 93, ../sass/_sec-7.scss */
.sec-7 .hidden_info .sec-7_hidden__button {
  margin: 40px auto;
  display: block;
  text-align: center;
  padding: 10px 20px;
  border-radius: 7px;
  color: #ffffff;
  background-image: linear-gradient(to right, #5a75eb, #8c61ee);
}

 /*
===============================
|        Responsive           |
===============================
*/
@media screen and (max-width: 1270px) {
  /* line 115, ../sass/_sec-7.scss */
  .sec-7 .hidden_info {
    padding: 10px 30px;
  }
  /* line 117, ../sass/_sec-7.scss */
  .sec-7 .hidden_info .sec-7_hidden__button {
    margin: 20px auto 10px auto;
  }
}
@media screen and (max-width: 992px) {
  /* line 131, ../sass/_sec-7.scss */
  .sec-7 .hidden_info .sec-7_hidden__button {
    margin: 20px auto;
  }
}
@media screen and (max-width: 768px) {
  /* line 145, ../sass/_sec-7.scss */
  .sec-7 .sec-7_img {
    margin-bottom: 220px !important;
  }
  /* line 149, ../sass/_sec-7.scss */
  .sec-7 .hidden_info {
    padding-top: 30px;
    opacity: 1;
    position: absolute;
    top: 100%;
  }
  /* line 156, ../sass/_sec-7.scss */
  .sec-7 .sec-7_img4, .sec-7 .sec-7_img5, .sec-7 .sec-7_img6 {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 400px) {
  /* line 169, ../sass/_sec-7.scss */
  .sec-7 .hidden_info {
    padding-top: 15px;
  }
}
/*
================================================================================
|                                    sec-8                                     |
================================================================================
*/
/* line 3, ../sass/_sec-8.scss */
.sec-8 .container {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}
/* line 9, ../sass/_sec-8.scss */
.sec-8 .nopadding {
  padding-left: 0;
}
/* line 13, ../sass/_sec-8.scss */
.sec-8 .sec-8_left {
  padding-left: 60px;
}
/* line 17, ../sass/_sec-8.scss */
.sec-8 .sec-8_center {
  padding: 0 100px;
}
/* line 20, ../sass/_sec-8.scss */
.sec-8 .sec-8_center b {
  position: absolute;
  left: 55px;
}
/* line 26, ../sass/_sec-8.scss */
.sec-8 .sec-8_right {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 100;
}
/* line 32, ../sass/_sec-8.scss */
.sec-8 .sec-8_right .form-wrapper {
  position: relative;
  width: 322px;
  background-color: #ccc;
  padding-top: 6px;
  border-radius: 10px;
}
/* line 39, ../sass/_sec-8.scss */
.sec-8 .sec-8_right .form-wrapper form {
  position: relative;
  background: #fff;
  border-radius: inherit;
  padding: 29px 35px;
}
/* line 45, ../sass/_sec-8.scss */
.sec-8 .sec-8_right .form-wrapper form h5 {
  font-weight: 800;
  margin: 0px;
  display: inline-block;
}
/* line 52, ../sass/_sec-8.scss */
.sec-8 .sec-8_right .form-wrapper .form-row {
  margin-top: 5px;
}
/* line 56, ../sass/_sec-8.scss */
.sec-8 .sec-8_right .form-wrapper .form-control {
  border-radius: 0;
  border: none;
  border-bottom: solid 1px #ced4da;
  padding: 4px 15px;
  font-size: 18px;
  margin-top: 20px;
}
/* line 64, ../sass/_sec-8.scss */
.sec-8 .sec-8_right .form-wrapper .form-control input {
  font-size: 18px;
}
/* line 69, ../sass/_sec-8.scss */
.sec-8 .sec-8_right .form-wrapper button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  padding: 15px 26px;
  margin: 0;
  margin-top: 32px;
  background-image: linear-gradient(to right, #577bc7, #9f89d9);
}
/* line 80, ../sass/_sec-8.scss */
.sec-8 .sec-8_right .form-wrapper .form-check {
  margin-top: 30px;
  line-height: 1.1;
  padding: 10px;
}
/* line 85, ../sass/_sec-8.scss */
.sec-8 .sec-8_right .form-wrapper .form-check span {
  font-size: 12px;
  letter-spacing: 0.7px;
  color: #ccc;
}
/* line 94, ../sass/_sec-8.scss */
.sec-8 .form-check-label a {
  color: #cccccc;
  text-decoration: underline;
}
/* line 99, ../sass/_sec-8.scss */
.sec-8 .sec-8_map {
  margin-top: 45px;
  margin-bottom: 50px;
  z-index: 10;
}

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
/* line 1, ../sass/_footer.scss */
footer {
  color: #ffffff;
}
/* line 4, ../sass/_footer.scss */
footer .container_footer {
  padding-left: 0;
  padding-right: 0;
  background-image: url(../img/footer_bg.png);
  background-size: cover;
  background-position: center;
}
/* line 15, ../sass/_footer.scss */
footer .footer_left {
  height: 100%;
  padding-left: 67px;
  padding-right: 87px;
  padding-top: 50px;
  padding-bottom: 35px;
}
/* line 22, ../sass/_footer.scss */
footer .footer_left span {
  font-size: 18px;
  font-weight: bold;
}
/* line 27, ../sass/_footer.scss */
footer .footer_left .social {
  margin-top: 23px;
}
/* line 30, ../sass/_footer.scss */
footer .footer_left .social > a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
/* line 36, ../sass/_footer.scss */
footer .footer_left .social > a:hover {
  cursor: pointer;
}
/* line 41, ../sass/_footer.scss */
footer .footer_left .social .facebook {
  background-image: url(../img/footer_sprite.png);
  background-size: auto;
  background-position: 2px 0;
}
/* line 48, ../sass/_footer.scss */
footer .footer_left .social .vk {
  background-image: url(../img/footer_sprite.png);
  background-size: auto;
  background-position: -57px 0;
}
/* line 54, ../sass/_footer.scss */
footer .footer_left .social .instagram {
  background-image: url(../img/footer_sprite.png);
  background-size: auto;
  background-position: -116px 0;
}
/* line 60, ../sass/_footer.scss */
footer .footer_left .social .youtube {
  background-image: url(../img/footer_sprite.png);
  background-size: auto;
  background-position: -175px 0;
}
/* line 69, ../sass/_footer.scss */
footer .footer_right {
  padding-top: 40px;
  padding-bottom: 35px;
}
/* line 70, ../sass/_footer.scss */
footer .footer_right span {
  display: block;
}
/* line 74, ../sass/_footer.scss */
footer .footer_right a {
  font-size: 16px;
  text-decoration: underline;
  color: #ffffff;
}
/* line 80, ../sass/_footer.scss */
footer .footer_right .meetp {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 800;
}
/* line 86, ../sass/_footer.scss */
footer .footer_right .allright {
  font-size: 14px;
}
/* line 90, ../sass/_footer.scss */
footer .footer_right .requisites {
  margin-top: 17px;
  font-size: 12px;
}

/*=== responsive FOOTER ===*/
