.sec-8 {
    
    .container {
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
    }
    
    .nopadding {
        padding-left: 0;
    }
    
    .sec-8_left {
        padding-left: 60px;
        
        .sec-8_phone {
            position: relative;
            padding-left: 80px;
            
            b {
                position: absolute;
                left: 0px;
            }
        }
    }
    
    .sec-8_center {
        padding: 0 100px;
        
        b {
            position: absolute;
            left: 55px;
        }
    }
    
    .sec-8_right {
        position: absolute;
        top: -30px;
        left: 0;
        z-index: 100;
        
        
            .form-wrapper {
        width: 80%;
        background-color: #ccc;
        padding-top: 6px;
        border-radius: 10px;
        

        form {
            background: #fff;
            border-radius: inherit;
            padding: 30px;

            h5 {
                font-weight: 800;
                margin: 0px;
                margin-bottom: 10px;
                display: inline-block;
            }
        }



        .form-control {
            border-radius: 0;
            border: none;
            border-bottom: solid 1px #ced4da;
            padding: 4px 15px;
            font-size: 18px;
            margin-top: 20px;

            input {
                font-size: 18px;
            }
        }

        button {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            border-radius: 10px;
            padding: 15px;
            margin: 0;
            margin-top: 10px;
            width: 90%;
           
        }
                
                .sec-8_form_button2 {
                     background-image: linear-gradient(to right, #577bc7,#9f89d9);
                }

        .form-check {
            margin-top: 30px;
            line-height: 1.1;

            span {
                font-size: 12px;
                letter-spacing: 0.7px;
                color: #ccc;
            }
        }
        .form-check-label a {
            color: #cccccc;
            text-decoration: underline;
        }
    }
    }
    
    .form-check-label a {
        color: #cccccc;
        text-decoration: underline;
    }
    
    .sec-8_map {
        width:100%;
        height:400px;
        margin-top: 45px;
        margin-bottom: 50px;;
        z-index: 10;
    }
}

/*
===============================
|        Responsive           |
===============================
*/

@media screen and (max-width: 1200px) and(min-width: 992px) {
    .sec-8 {
        .sec-8_right .form-wrapper button {
            font-size: 14px;
            padding: 15px 7px;
            width: 100%;
        }
    }
}

 @media screen and (max-width: 992px) {

     .sec-8 {
         .sec-8_right {
             left: 3%;
             
         }
     }
 }


 @media screen and (max-width: 768px) {

     .sec-8 {
         .container {
             padding-bottom: 180px;
         }
         
         .sec-8_left {
             padding: 0 10px;
         }
         
         .sec-8_center {
             padding: 0 10px;
             
             b {
                 position: static;
             }
         }
         
         .sec-8_right {
                 left: 50%;
                 transform: translate(-50%,150%);
             
             .form-wrapper {
                 width: 100%;
                  box-shadow: 0 10px 70px -15px;
                 
                 button {
                     width: 100%;
                 }
             }
         }

     }
 }

@media screen and (max-width: 400px) {

     .sec-8 {
         
       
     }
 }