.sec-4 {

    .col-4 {
        padding: 0;
    }

    .sec-4__left {
        padding-top: 35px;
        padding-left: 125px;
        padding-right: 67px;
        background-image: url(../img/sec-4_bg.png);
        background-position: center center;
        background-size: cover;
        color: #ffffff;

        h1 {
            font-weight: bold;
            font-size: 48px;
            margin-bottom: 70px;
        }

        h2 {
            font-weight: bold;
            margin-bottom: 24px;
            line-height: 1;
        }

        .video-wrapper {
            //clear: right;
            position: relative;
            display: inline-block;
            width: 195px;
            height: 105px;
            background-image: url(../img/sec-4_video-bg.png);
            background-size: cover; //z-index: 5;
            .play_button {
                width: 45px;
                height: 45px;
                border-radius: 45px;
                background-color: rgba(255, 255, 255, 0.8);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 50;
                border: 5px solid #96919a;

                &:hover {
                    cursor: pointer;
                }


                &::before {
                    content: "";
                    display: block;
                    border: 4px solid transparent;
                    border-left: 8px solid #2a2a43;
                    position: absolute;
                    top: 50%;
                    left: calc(50% + 4px);
                    transform: translate(-50%, -50%);
                }
            }
        }

        .sec-4__left___button {
            position: absolute;
            right: 0;
            bottom: 10px;
            display: inline-block;
            padding: 10px 20px;
            background-color: #2488cd;
            color: #ffffff;
            border-radius: 5px;

        }

        span {
            position: absolute;
            font-size: 11px;
            bottom: -10px;
            left: 0;
        }

        .sec-4_flex__wrapper {
            position: relative;
        }
    }

    .sec-4__right {
        padding: 0 15px 20px 38px;
        background-image: url(../img/sec-4__right-bg.png);
        background-position: 100% 70px;
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            display: block;
            font-size: 32px;
            font-weight: bolder;
        }

        .actual_marathons_block {
            margin: 0;
            width: 100%;
            height: 155px;
            display: flex;
            margin-bottom: 20px;
            font-weight: bold;


            .marathons_top {
                height: auto;
                padding: 50px 20px;
                width: 44%;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;

                .cover-bg {
                    padding-top: 50px;
                }

                span {
                    line-height: 1;
                    font-size: 15px;
                    display: inline-block;
                }

                span:last-child {
                    margin-bottom: 5px;
                    font-weight: normal;
                }

            }

            .marathons_bottom {
                background-color: #ffffff;
                width: 56%;

                .year_date {
                    font-size: 49px;
                    color: #eeeeee;
                }

                .month_date {
                    font-size: 13px;
                    color: #212225;
                }

                a {
                    font-size: 13px;
                }

            }
        }

        .sec-4__right__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}

/*
===============================
|        Responsive           |
===============================
*/

@media screen and (max-width: 1270px) {
    .sec-4 {

        .marathons_bottom a {
            font-size: 12px !important;
        }
        .hidden_info {
            padding: 10px 30px;

        }
    }
}

@media screen and (max-width: 1270px) and (min-width: 990px) {
    .sec-4 {

        .sec-4__left {
            padding-bottom: 20px;
        }
    }
}

@media screen and (max-width: 992px) {

    .sec-4 {

        .sec-4__left {
            text-align: center;
            padding: 50px 30px;
            h2 {
                font-size: 20px;
            }

            h1 {
                font-size: 25px;
                margin-bottom: 30px;
            }

            .sec-4_flex__wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                .video-wrapper {
                    width: calc(195px*1.5);
                    height: calc(105px*1.5);

                }

                span {
                    position: static;
                    display: inline-block;
                    margin-bottom: 20px;

                }
                a {
                    position: static;
                    display: inline-block;
                }
            }

        }

    }
}


@media screen and (max-width: 768px) {

    .sec-4 {
        .sec-4__left {

            .sec-4_flex__wrapper {

                .video-wrapper {
                    width: calc(195px*2);
                    height: calc(105px*2);
                }
            }
        }

        .sec-4__right {
            background-position: 100% 40px;
            .sec-4__right__wrapper {
                margin-top: 60px;

            }

        }


    }
}

@media screen and (max-width: 400px) {

    .sec-4 {
        .sec-4__left {


            .sec-4_flex__wrapper {

                .video-wrapper {
                    width: calc(195px*1.6);
                    height: calc(105px*1.6);

                }
            }
        }

    }

}
